@import url("//fonts.googleapis.com/css?family=Montserrat:400");
@import url("//fonts.googleapis.com/css?family=Montserrat:700");
body {
  font-family: "Montserrat";
}
.container {
  height: 100vh;
  display: flex;
  width: 100vw;
}
.left {
  display: flex;
  flex: 1;
  background-image: url("../images/nicole.jpg");
  background-size: cover;
  background-position: center;
  width: 50%;
  flex-direction: column;
  justify-content: space-between;
  color: white;
  padding: 4em 1.9em 1.9em 1.9em;
}
.header-left {
  display: flex;
  align-items: flex-start;
}

.logo {
  width: 30px;
}
.logotext {
  display: inline;
  font-weight: bold;
  font-size: 2em;
  width: 150px;
  text-transform: uppercase;
  margin-left: 15px;
  margin-top: -5px;
}
.latestnews {
  align-items: center;
  background-color: #f9f9f920;
  margin: 0px 0.5em;
  text-align: right;
  padding: 1.5em 2em;
  line-height: 1.5;
  box-shadow: 10px 10px 70px black;
  border-radius: 20px;
  backdrop-filter: blur(3px);
  line-height: 1.8;
  text-shadow: 2px 2px 3px black;
}
.latestnews strong {
  font-weight: bold;
  font-size: 1.8em;
}
.latestnews em {
  font-size: 0.5em;
  font-weight: normal;
  font-style: italic;
}
.latestnews p {
  font-size: 1em;
  display: flex;
}
footer {
  text-shadow: 2px 2px 3px black;
  text-align: right;
}
footer a {
  margin: 0 10px;
}
/*  */
/* RIGHT SIDE */
/*  */
.right {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: auto;
}
header {
  background-color: #f9f9f9;
  text-align: center;
}
header h1 {
  color: black;
  font-size: 2em;
  padding: 0.7em 0px 0.7em 1em;
  font-weight: bold;
}

.cards_container {
  display: flex;
  flex-wrap: wrap;
}

.card {
  width: 50%;
  height: auto;
  border-right: 1px solid #eaeaea;
  border-top: 1px solid #eaeaea;

  padding: 2em;
  display: flex;
  flex-direction: column;
}
.card:hover {
  box-shadow: 10px 10px 70px black;
  translate: 2px 2px;
}
.labelb,
.labelg,
.labelr {
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.9rem;
  width: 70px;
  padding: 8px;
  text-align: center;
  border-bottom-left-radius: 12%;
  border-bottom-right-radius: 12%;
  border-top-left-radius: 12%;
  border-top-right-radius: 12%;
  margin-bottom: 32px;
  margin-top: 32px;
  box-shadow: 5px 5px 10px rgb(77, 75, 75);
}

.labelb {
  background-color: #0766f0;
}

.labelr {
  background-color: #dc5e53;
}

.labelg {
  background-color: #98dc62;
}

h2 {
  color: black;
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 32px;
  line-height: 1.8rem;
}

.info {
  display: flex;
  margin-bottom: 32px;
  align-items: center;
}

.user {
  font-size: 0.7rem;
  font-weight: bold;
  margin-right: 4px;
}
.date {
  color: lightgrey;
  font-size: 0.7rem;
}

.generic {
  line-height: 1.6rem;
}

.continue {
  font-weight: bold;
  margin-top: 16px;
  margin-bottom: 32px;
  color: #007bff;
  text-decoration: underline;
}
.continue:hover {
  color: #0056b3;
}

.article-image {
  width: 10%;
  margin-right: 8px;
}
@media (max-width: 375px) {
  .info {
    flex-direction: column;
  }
  .container {
    flex-direction: column;
  }
  .left {
    width: 100%;
    height: 50vh;
  }
}
